@model AdminViewModel

@{
    ViewData["Title"] = "Admin Page";
}

<h2>Admin Page</h2>
<p>Welcome, Admin! Here you can manage users and allocate tickets.</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Ticket ID</th>
            <th>Created By</th>
            <th>Creation Time</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Status</th>
            <th>Assign To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model.Tickets)
        {
            <tr>
                <td>@ticket.TicketID</td>
                <td>@ticket.CreatedBy</td>
                <td>@ticket.CreatedAt</td>
                <td>@ticket.Subject</td>
                <td>@ticket.Description</td>
                <td>@ticket.Status</td>
                <td>
                    @if(ticket.Status == TicketStatus.Pending)
                    {
                        <form asp-action="AssignTicket" method="post">
                            <input type="hidden" name="ticketId" value="@ticket.TicketID" />
                            <select name="assignee" class="form-control">
                                @foreach (var user in Model.Users)
                                {
                                    if(user.UserRole == Role.SupportAgent)
                                    {
                                        <option value="@user.Id">
                                            @if (user.UserRole == Role.SupportAgent)
                                            {
                                                @user.Username
                                            }
                                        </option>
                                    }
                                }
                            </select>
                            <button type="submit" class="btn btn-primary m-lg-2">Assign</button>
                        </form>
                    }
                    else
                    {
                        @ticket.AssignedTo
                    }
                </td>
            </tr>
        }
    </tbody>
</table>